.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  box-shadow: 1px 1px 5px 1px black;
  padding: 20px;
  font-size: 30px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  span {
    display: inline-block;
    width: 100%;
  }
}
.input {
  width: 100%;
  font-size: 30px;
  border: none;

  &:focus {
    outline: none;
    border-bottom: 1px solid black;
  }
}

.checkbox {
  width: 25px;
  height: 25px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  button {
    width: 40px;
    height: 40px;
  }
}
